PART 1:

In [1]:
import tweepy
import requests
import json
import pandas as pd
import requests

In [2]:
credentials = {}
credentials['CONSUMER_KEY'] = '_____________________'  
credentials['CONSUMER_SECRET'] = '__________________________'  
credentials['ACCESS_TOKEN'] = '____________________________'  
credentials['ACCESS_SECRET'] = '___________________________'

In [3]:
# python script which can fetch all the tweets(as many as allowed by Twitter API) done by midas@IIITD

def get_all_tweets(screen_name, limit=199):
    
    # as maximum can be only 200
    
    # authorize twitter, initialize tweepy
    auth = tweepy.OAuthHandler(credentials['CONSUMER_KEY'], credentials['CONSUMER_SECRET'])
    auth.set_access_token(credentials['ACCESS_TOKEN'], credentials['ACCESS_SECRET'])
    api = tweepy.API(auth)
    
    ScreenName_cursor = tweepy.Cursor(api.user_timeline, screen_name='midasIIITD')
    
    ScreenName_tweets = []
    for tweet in ScreenName_cursor.items(limit):
        ScreenName_tweets.append(tweet._json)
        
    
    return ScreenName_tweets

In [4]:
# Dumping into json.
with open("tweets.json", "w") as write_file:
    json.dump(get_all_tweets("midasIIITD"), write_file, skipkeys=True)

*******************************************************************************************************************

*******************************************************************************************************************

PART 2:

In [5]:
with open("tweets.json", errors='ignore') as json_data:
     all_tweets = json.load(json_data, strict=False)

In [6]:
def store_tweets(all_tweets):
    
    # a list of all formatted tweets
    tweet_list=[]
    
    for tweet in all_tweets:
         # a dict to contain information about single tweet
        tweet_information = dict()
        
        # text of tweet
        tweet_information['text']=tweet['text']
        
        
        # date and time at which tweet was created
        tweet_information['created_at']=tweet['created_at']
        
        # favourites/likes count
        tweet_information['favorite_count']=tweet['favorite_count']
        
        # retweet count
        tweet_information['retweet_count']=tweet['retweet_count']
        
        # image count
        
        n = 0
        try:
            for media in tweet['extended_entities']["media"]:
                n=n+1
        except:
            n=n
        if n>0:
            tweet_information['number_of_images_posted_by_user']=n
        else:
            tweet_information['number_of_images_posted_by_user']=None
            
        
        # add this tweet to the tweet_list
        tweet_list.append(tweet_information)
        
    
    return tweet_list

In [7]:
main = store_tweets(all_tweets)

In [8]:
df = pd.DataFrame(main)

In [12]:
df.head(100)

,created_at,favorite_count,number_of_images_posted_by_user,retweet_count,text
0,Sat Apr 06 17:11:29 +0000 2019,0,NaN,2,RT @kdnuggets: Top 8 #Free Must-Read #Books on...
1,Sat Apr 06 16:43:27 +0000 2019,10,NaN,3,@nupur_baghel @PennDATS Congratulation @nupur_...
2,Fri Apr 05 16:08:37 +0000 2019,8,NaN,1,We have emailed the task details to all candid...
3,Fri Apr 05 04:05:11 +0000 2019,0,NaN,16,RT @rfpvjr: Our NAACL paper on polarization in...
4,Fri Apr 05 04:04:43 +0000 2019,0,1.0,10,RT @kdnuggets: Effective Transfer Learning For...
5,Wed Apr 03 18:31:53 +0000 2019,0,NaN,57,RT @stanfordnlp: Whatâ€™s new in @Stanford CS224...
6,Wed Apr 03 17:04:32 +0000 2019,0,NaN,844,RT @DeepMindAI: Today we're releasing a large-...
7,Wed Apr 03 09:03:40 +0000 2019,0,NaN,16,RT @ylecun: Congratulations Jitendra Malik !\n...
8,Wed Apr 03 07:46:02 +0000 2019,0,NaN,4,RT @IIITDelhi: Another chance to take admissio...
9,Tue Apr 02 04:20:13 +0000 2019,8,NaN,1,Dear @midasIIITD internship candidates who hav...
10,Tue Apr 02 02:44:54 +0000 2019,5,NaN,1,Looking forward to your paper submission to @I...
11,Tue Apr 02 02:35:44 +0000 2019,0,NaN,7,RT @ngrams: Reproducibility in multimedia rese...
12,Mon Apr 01 06:53:08 +0000 2019,7,NaN,2,Online application for https://t.co/DJFDrQsHZP...
13,Sun Mar 31 10:21:24 +0000 2019,0,NaN,10,RT @ACMMM19: A final reminder of the Reproduci...
14,Fri Mar 29 19:43:24 +0000 2019,0,NaN,2,RT @isarth23: Thanks for the support and help ...
15,Fri Mar 29 17:16:40 +0000 2019,9,NaN,1,"Since SemEval-2019 will be held June 6-7, 2019..."
16,Fri Mar 29 17:04:30 +0000 2019,2,NaN,0,+@aggarwal_kartik.\nCongrats! Wish you many mo...
17,Fri Mar 29 17:03:29 +0000 2019,0,NaN,1,RT @aggarwal_kartik: Our work (@midasIIITD ) a...
18,Fri Mar 29 17:02:24 +0000 2019,9,NaN,1,"Congratulations! @midasIIITD team, @isarth23 @..."
19,Fri Mar 29 05:35:22 +0000 2019,0,NaN,0,@EEMLcommunity @radamihalcea too many deadline...
20,Thu Mar 28 16:55:01 +0000 2019,0,NaN,712,RT @stanfordnlp: CS224N Natural Language Proce...
21,Thu Mar 28 16:54:37 +0000 2019,0,NaN,157,RT @ylecun: Learn PyTorch by running on Google...
22,Wed Mar 27 16:09:09 +0000 2019,4,NaN,1,Dr. Vineeth N Balasubramanian will present a T...
23,Wed Mar 27 11:53:40 +0000 2019,0,NaN,1544,RT @ylecun: I am extremely honored to be the r...
24,Tue Mar 26 18:12:27 +0000 2019,5,NaN,1,Thanks to all shortlisted candidates for submi...
25,Tue Mar 26 05:54:49 +0000 2019,2,NaN,0,@IEEEBigMM19 @ACMMM19 and 6 days left for work...
26,Tue Mar 26 05:50:10 +0000 2019,0,NaN,3,RT @IEEEBigMM19: Hurry Up!\n6 Days left for Ab...
27,Mon Mar 25 13:01:57 +0000 2019,18,NaN,1,Congratulations @midasIIITD students Simra Sha...
28,Sun Mar 24 18:44:01 +0000 2019,8,NaN,3,The last date for submitting a solution for th...
29,Sun Mar 24 18:26:02 +0000 2019,0,NaN,4,RT @IIITDelhi: @IIITDelhi invites application ...
...,...,...,...,...,...
70,Thu Feb 21 06:39:27 +0000 2019,2,NaN,1,@IIITDelhi has initiated PhD Admission 2019 pr...
71,Thu Feb 21 04:48:24 +0000 2019,0,NaN,13,RT @radamihalcea: We tend to focus mainly on c...
72,Wed Feb 20 07:09:19 +0000 2019,6,NaN,3,"@RealAAAI @RatnRajiv Thanks, @RealAAAI for rec..."
73,Wed Feb 20 05:38:29 +0000 2019,4,NaN,2,"Deepak Gupta, has joined @Google today. \nEarl..."
74,Tue Feb 19 17:16:24 +0000 2019,0,NaN,15,RT @ACMMM19: We are pleased to announce the mu...
75,Tue Feb 19 04:29:33 +0000 2019,3,NaN,2,In addition to projects related to NLP and Mul...
76,Tue Feb 19 04:19:05 +0000 2019,0,NaN,289,RT @technology: What could the manufacturing i...
77,Tue Feb 19 04:18:53 +0000 2019,0,NaN,21,RT @MSFTResearch: Dr. Layla El Asri wants you ...
78,Mon Feb 18 17:29:44 +0000 2019,11,NaN,9,To apply for @midasIIITD internship at @IIITDe...
79,Mon Feb 18 05:37:59 +0000 2019,0,NaN,6,RT @CornellDyson: Digital ag is Cornellâ€™s newe...
80,Sun Feb 17 17:22:06 +0000 2019,0,NaN,51,RT @odsc: Introduction to StanfordNLP: a state...
81,Sun Feb 17 09:02:28 +0000 2019,3,NaN,1,Looking forward to your participation in Multi...
82,Sun Feb 17 08:49:36 +0000 2019,1,NaN,0,Consider attending National Workshop on Intell...
83,Sun Feb 17 06:39:30 +0000 2019,1,NaN,1,Submissions are invited for a special issue of...
84,Sat Feb 16 16:57:51 +0000 2019,0,NaN,1,RT @debanjanbhucs: https://t.co/qNFzJ7ZHki
85,Fri Feb 15 08:22:23 +0000 2019,0,NaN,13,RT @MSFTResearch: Congratulations to Manik Var...
86,Thu Feb 14 15:56:14 +0000 2019,14,NaN,4,Congratulations! Anupam Samanta on joining @Go...
87,Wed Feb 13 18:56:13 +0000 2019,0,1.0,5,RT @kdnuggets: Using BERT for state-of-the-art...
88,Wed Feb 13 15:54:52 +0000 2019,0,NaN,11,RT @ACMMM19: Attention authors of ACM MultiMed...
89,Wed Feb 13 05:56:05 +0000 2019,0,1.0,11,RT @kdnuggets: 9 Must-have skills you need to ...
90,Thu Feb 07 19:21:52 +0000 2019,1,NaN,1,@ACMMM19 @ACM Just one week is left for worksh...
91,Thu Feb 07 15:49:59 +0000 2019,0,NaN,0,"@NilayShri @the_dhumketu Thanks, @NilayShri fo..."
92,Thu Feb 07 15:49:08 +0000 2019,0,NaN,1,RT @NilayShri: @midasIIITD @the_dhumketu this ...
93,Thu Feb 07 06:23:10 +0000 2019,0,NaN,54,RT @kdnuggets: Machine Learning in Python by @...
94,Wed Feb 06 11:26:25 +0000 2019,0,NaN,35,RT @Cambridge_Uni: .@DeepMindAI and @Cambridge...
95,Tue Feb 05 18:32:54 +0000 2019,0,NaN,212,RT @GoogleAI: Google AI and @DeepMindAI resea...
96,Tue Feb 05 17:45:09 +0000 2019,0,NaN,0,Edit: In the updated leaderboard we are now ra...
97,Tue Feb 05 17:44:27 +0000 2019,4,NaN,0,Congratulations! @isarth23. \nIt is our pleasu...
98,Tue Feb 05 12:09:44 +0000 2019,5,NaN,1,"In addition to OffensEval task, @midasIIITD ha..."
99,Tue Feb 05 11:55:41 +0000 2019,1,NaN,1,"Thanks, Karan Uppal and @RatnRajiv for all you..."